report.overwrite   = true
timeline.overwrite = true
trace.overwrite    = true
dag.overwrite      = true

profiles {
    test {
        // Force the processes to use Docker containers (swap to singularity if preferred)
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        conda.enabled          = false
    }
}

docker {
    enabled = true
    runOptions = '--user $(id -u):$(id -g)'
}

//singularity {
//    enabled = true
//    runOptions = '--bind /raid'   // adjust as needed
//}

process {
    // Tell fastp to parse the UMI and put it in the read header
    withName: 'FASTP' {
        ext.args = '-U --umi_loc per_read --umi_len 3 --umi_skip 2 --cut_front --cut_tail --trim_poly_x --cut_mean_quality 25 --average_qual 25 --length_required 100' // Customise to match your kit's length/location
    }

    withName: 'BWA_MEM' {
        // Use a dynamic closure to safely interpolate the meta map for each sample
        ext.args = { [
            "-M", // Standard nf-core flag to mark shorter split hits as secondary
            "-R \"@RG\\tID:${meta.id}\\tLB:${meta.id}\\tPL:ILLUMINA\\tSM:${meta.id}\""
        ].join(' ') }
    }

    // Tell fgbio to look at the read header instead of raw bases
    withName: 'FGBIO_COPYUMIFROMREADNAME' {
        ext.args = '-r true --umi-delimiter _'
    }

    // Tell fgbio how to group them (Adjacency strategy handles sequencing errors in UMIs)
    withName: 'FGBIO_GROUPREADSBYUMI' {
        ext.args = '--mark-duplicates true'
    }

    withName: 'PICARD_MARKDUPLICATES' {
        // REMOVE_DUPLICATES=true drops them entirely from the file
        // BARCODE_TAG=RX tells Picard to look at the UMI tag fgbio populated
        ext.prefix = { "${meta.id}.deduped" }
        
        ext.args = "--ASSUME_SORTED true --READ_NAME_REGEX '^[a-zA-Z0-9]+:[0-9]+:[a-zA-Z0-9_-]+:[0-9]+:([0-9]+):([0-9]+):([0-9]+)\$' --VALIDATION_STRINGENCY LENIENT --TMP_DIR tmp --REMOVE_DUPLICATES true --BARCODE_TAG RX"
    }
}